body{
    background-color: #9C835F !important;
    font-family: 'Open Sans' !important;
}
.title {
    color: #f9b23d !important;
}
.container-title {
    margin-left: 2rem !important;
}

.player-selection {
    margin: 1rem !important;
    font-size: 1rem !important;
}
.rps{
    max-width: 1rem !important;
    margin: 2rem;
    height: auto;
}
.vs {
    color: #bd0000;
    font-size: 4rem;
    font-family: 'Open Sans';
    /* margin: 2rem; */
    text-align: center;
}
.game {
    margin-left: 15rem !important;
    color: black !important;
}
.refresh {
    margin: 2rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
}
button {
    background-color: transparent;
    border: 0px;
}

/* // Very small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {
    .container-title {
      margin-left: 1rem !important;
      font-size: 1rem !important;
    }
    .back-arrow {
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        color: #724c21 !important;
    }
    .title {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
    .player-selection {
      margin: 1rem !important;
    }
    .rps {
      margin: 1rem;
      max-width: 5rem !important;
      height: auto;
    }
    .vs {
      color: #bd0000;
      font-size: 5rem;
      margin: 1rem;
      text-align: center;
    }
    .game {
      margin-left: 3rem !important;
      color: black !important;
    }
    .refresh {
      margin: 2rem;
      margin-top: 5rem !important;
      max-width: 2rem !important;
      height: 2rem !important;
    }
    button {
      border: 0px;
      background-color: transparent;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container-title {
      margin-left: 1rem !important;
    }
    .back-arrow {
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        color: #724c21 !important;
    }
    .rps {
      margin: 1rem;
      max-width: 5rem !important;
      height: auto;
    }
    .vs {
      color: #bd0000;
      margin: 1rem;
      font-size: 5rem;
      text-align: center;
    }
    .game {
      margin-left: 5rem !important;
      color: black !important;
    }
    .refresh {
      margin: 1rem;
      margin-top: 5rem !important;
      max-width: 2rem !important;
      height: 2rem !important;
    }  
    button {
      border: 0px;
      background-color: transparent;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-title {
      margin-left: 1rem !important;
    }
    .back-arrow {
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 2.5rem;
        text-align: center;
        color: #724c21 !important;
    }
    .rps {
      margin: 1rem;
      max-width: 5rem !important;
      height: auto;
    }
    .vs {
      color: #bd0000;
      font-size: 3rem;
      margin: 1rem !important;
      text-align: center;
    }
    .game {
      margin-left: 5rem !important;
      color: black !important;
    }
    .refresh {
      margin: 2rem;
      margin-top: 5rem !important;
      max-width: 2rem !important;
      height: 2rem !important;
    }
    button {
      border: 0px;
      background-color: transparent;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-title {
      margin-left: 1rem !important;
    }
    .back-arrow {
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        color: #724c21 !important;
    }
    .rps {
      margin: 2rem;
      max-width: 5rem !important;
      height: auto;
    }
    .vs {
      color: #bd0000;
      font-size: 5rem;
      text-align: center;
    }
    .game {
      margin-left: 10rem !important;
      color: black !important;
    }
    .refresh {
      margin: 2rem;
      margin-top: 5rem !important;
      max-width: 2rem !important;
      height: 2rem !important;
    }
    button {
      border: 0px;
      background-color: transparent;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-title {
      margin-left: 1rem !important;
    }
    .title{
        margin-left: 0;
    }
    .back-arrow {
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 4rem;
        text-align: center;
        color: #724c21 !important;
    }
    .rps {
      margin: 2rem;
      max-width: 5rem !important;
      height: auto;
    }
    .vs {
      color: #bd0000;
      font-size: 5rem;
      text-align: center;
    }
    .game {
      margin-left: 15rem !important;
      color: black !important;
    }
    .refresh {
      margin: 2rem;
      margin-top: 5rem !important;
      max-width: 2rem !important;
      height: 2rem !important;
    }
    button {
      border: 0px;
      background-color: transparent;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container-title {
      margin-left: 1rem !important;
    }
    .back-arrow {
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 4rem;
        text-align: center;
        color: #724c21 !important;
    }
    .rps {
      margin: 2rem;
      max-width: 5rem !important;
      height: auto;
    }
    .vs {
      color: #bd0000;
      font-size: 5rem;
      text-align: center;
    }
    .game {
      margin-left: 15rem !important;
      color: black !important;
    }
    .refresh {
      margin: 2rem;
      margin-top: 5rem !important;
      max-width: 2rem !important;
      height: 2rem !important;
    }
    button {
      border: 0px;
      background-color: transparent;
    }
}
  